<ul>
 <% @support_requests.each do |support_request| %>
 <h1>
 On <%= support_request.created_at.to_formatted_s(:long) %>
 <code><%= support_request.email %></code> writes:
 </h1>
 <p>
 <blockquote>

 <h3>subject: <%= support_request.subject %>
 <h5>body: <%= support_request.body %></h5>
 </blockquote>
 </p>
 <% if support_request.order %>
 <h3>Recent Order</h3>
 <dl>
 Name: <%= support_request.order.name %>
 <br>
 Email: <%= support_request.order.email %>
<br>
 Address: <%= support_request.order.address %>
<br>
 PayType: <%= support_request.order.pay_type %>
<br>
 <dt>Line Items</dt>

<%support_request.order.order_items.each do |order|%>
        <br>
        product_name:<%=order["product_name"]%>
      <br>
      quantity:<%=order["quantity"]%>
      <br>
      price:<%=order["product_price"]%>
      <br>
<%end%>


 <% else %>
 <h3 class="notice">No associated order</h3>
 <% end %>
 <hr>
 </li>
 <% end %>
 </ul>