<html data-controller="cart"  data-cart-count-value=<%=@cart.line_items.sum {|line_item| line_item[:quantity]} %> data-cart-url-value=<%=line_items_path%> >
<head>
<meta name="turbolinks-visit-control" content="reload">
</head>
<p id="notice"><%= notice %></p>

<h1>Products</h1>
<table >
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
 
    <% @products.each do |product| %>
    <tr>
    
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <td > <button data-action="click->cart#load" id="<%=product.id%>">Add to cart</button></td>
      </tr>
    
    <% end %>
  </tbody>
</table>

<br>
<div data-cart-target="num"> <%=@cart.line_items.sum {|line_item| line_item[:quantity]}%> products</div>

<%= link_to 'New Product', new_product_path %>

<br>

<%=link_to 'cart',cart_path(@current_cart)%>
</html>

